---
layout: page
bodyClass: adjective-declensions
title: Adjective declensions
excerpt: Adjective declensions at a glance
---

<script type="text/javascript">
  $(document).ready(function() {
    $("td").each(function() {
      var text = $(this).text()

      if (text.startsWith("-")) {
        $(this).addClass(text + "-ending")
      }
    })
  })
</script>


<section>
  <h2>Weak declension</h2>

  {% include declension.html
    nominativeSingularMasculine="-e"
    accusativeSingularMasculine="-en"
    dativeSingularMasculine="-en"
    genitiveSingularMasculine="-en"

    nominativeSingularNeuter="-e"
    accusativeSingularNeuter="-e"
    dativeSingularNeuter="-en"
    genitiveSingularNeuter="-en"

    nominativeSingularFeminine="-e"
    accusativeSingularFeminine="-e"
    dativeSingularFeminine="-en"
    genitiveSingularFeminine="-en"

    nominativePlural="-en"
    accusativePlural="-en"
    dativePlural="-en"
    genitivePlural="-en"
    %}

    <p>
      <strong>Attributive</strong> adjectives follow this declension when they are after the <strong>definite article</strong> (<em>der</em>) or:
    </p>

    <ul>
      <li><i>dieser</i></li>
      <li><i>jener</i></li>
      <li><i>welcher</i></li>
      <li><i>mancher</i></li>
      <li><i>alle</i></li>
    </ul>
</section>


<section>
  <h2>Mixed declension</h2>

  {% include declension.html
    nominativeSingularMasculine="-er"
    accusativeSingularMasculine="-en"
    dativeSingularMasculine="-en"
    genitiveSingularMasculine="-en"

    nominativeSingularNeuter="-es"
    accusativeSingularNeuter="-es"
    dativeSingularNeuter="-en"
    genitiveSingularNeuter="-en"

    nominativeSingularFeminine="-e"
    accusativeSingularFeminine="-e"
    dativeSingularFeminine="-en"
    genitiveSingularFeminine="-en"

    nominativePlural="-en"
    accusativePlural="-en"
    dativePlural="-en"
    genitivePlural="-en"
    %}

    <p>
      <strong>Attributive</strong> adjectives follow this declension when they are after:
    </p>

    <ul>
      <li>The <strong>indefinite article</strong>: <i>ein</i></li>
      <li>The <strong>negative article</strong>: <i>kein</i></li>
      <li><strong>Possessive articles</strong>: <i>mein</i>, <i>dein</i>, <i>sein</i>, <i>ihr</i>, <i>unser</i>, <i>euer</i>, <i>Ihr</i></li>

    </ul>
</section>

<section>
  <h2>Strong declension</h2>
    {% include declension.html
      nominativeSingularMasculine="-er"
      accusativeSingularMasculine="-en"
      dativeSingularMasculine="-em"
      genitiveSingularMasculine="-en"

      nominativeSingularNeuter="-es"
      accusativeSingularNeuter="-es"
      dativeSingularNeuter="-em"
      genitiveSingularNeuter="-en"

      nominativeSingularFeminine="-e"
      accusativeSingularFeminine="-e"
      dativeSingularFeminine="-er"
      genitiveSingularFeminine="-er"

      nominativePlural="-e"
      accusativePlural="-e"
      dativePlural="-en"
      genitivePlural="-er"
      %}

    <p>
      <strong>Attributive</strong> adjectives follow this declension when they are <strong>not preceded by articles</strong>.
    </p>
</section>


<section>
  <h2>No declension</h2>

  <p>
    The following adjectives are used as they are, without any declension suffix:
  </p>

  <ul>
    <li>
      <strong>Predicative</strong> adjectives
    </li>

    <li>
      Adjectives <strong>ending with -a</strong> - for example, <i>prima</i>
    </li>

    <li>
      Adjectives composed by <strong>Location name + -er</strong> - for example, <i>Münchner</i>
    </li>
  </ul>
</section>
