---
layout: page
bodyClass: articles
title: Articles
excerpt: Articles and their declension
---
<script type="text/javascript">
  $(document).ready(function() {
    $("td").each(function() {
      var text = $(this).text()

      $(this).addClass(text)
    })
  })
</script>

<section>
  <h2 id="der">Definite article</h2>

  {% include declension.html
    declension=site.data.articles.der
    %}
</section>


<section>
  <h2 id="ein">Indefinite article</h2>

  {% include declension.html
    declension=site.data.articles.ein
    %}
</section>


<section>
  <h2 id="kein">Negative article</h2>

  {% include declension.html
    declension=site.data.articles.kein
    %}
</section>


<section>
  <h2 id="possessive">Possessive articles</h2>

  {% include declension.html
    declension=site.data.articles.mein
    %}

  {% include declension.html
    declension=site.data.articles.dein
    %}

  {% include declension.html
    declension=site.data.articles.sein
    %}


  {% include declension.html
    declension=site.data.articles.ihr
    %}

  {% include declension.html
    declension=site.data.articles.unser
    %}

  {% include declension.html
    declension=site.data.articles.euer
    %}
</section>
