<table class="declension">
  <thead>
    <tr>
      <td class="caseHeader">Case</td>
      <td class="singularLabel" colspan="3">Singular</td>
      <td class="pluralLabel">Plural</td>
    </tr>

    <tr>
      <td></td>
      <td class="masculineLabel">Masculine</td>
      <td class="neuterLabel">Neuter</td>
      <td class="feminineLabel">Feminine</td>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="caseLabel">Nominative</td>
      <td>{{ include.declension.masculine.nominative }}</td>
      <td>{{ include.declension.neuter.nominative }}</td>
      <td>{{ include.declension.feminine.nominative }}</td>
      <td>{{ include.declension.plural.nominative }}</td>
    </tr>

    <tr>
      <td class="caseLabel">Accusative</td>
      <td>{{ include.declension.masculine.accusative }}</td>
      <td>{{ include.declension.neuter.accusative }}</td>
      <td>{{ include.declension.feminine.accusative }}</td>
      <td>{{ include.declension.plural.accusative }}</td>
    </tr>

    <tr>
      <td class="caseLabel">Dative</td>
      <td>{{ include.declension.masculine.dative }}</td>
      <td>{{ include.declension.neuter.dative }}</td>
      <td>{{ include.declension.feminine.dative }}</td>
      <td>{{ include.declension.plural.dative }}</td>
    </tr>

    <tr>
      <td class="caseLabel">Genitive</td>
      <td>{{ include.declension.masculine.genitive }}</td>
      <td>{{ include.declension.neuter.genitive }}</td>
      <td>{{ include.declension.feminine.genitive }}</td>
      <td>{{ include.declension.plural.genitive }}</td>
    </tr>
  </tbody>
</table>
