<table class="declension">
  <thead>
    <tr>
      <td class="caseHeader">Case</td>
      <td class="singularLabel" colspan="3">Singular</td>
      <td class="pluralLabel">Plural</td>
    </tr>

    <tr>
      <td></td>
      <td class="masculineLabel">Masculine</td>
      <td class="neuterLabel">Neuter</td>
      <td class="feminineLabel">Feminine</td>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="caseLabel">Nominative</td>
      <td>{{ include.nominativeSingularMasculine }}</td>
      <td>{{ include.nominativeSingularNeuter }}</td>
      <td>{{ include.nominativeSingularFeminine }}</td>
      <td>{{ include.nominativePlural }}</td>
    </tr>

    <tr>
      <td class="caseLabel">Accusative</td>
      <td>{{ include.accusativeSingularMasculine }}</td>
      <td>{{ include.accusativeSingularNeuter }}</td>
      <td>{{ include.accusativeSingularFeminine }}</td>
      <td>{{ include.accusativePlural }}</td>
    </tr>

    <tr>
      <td class="caseLabel">Dative</td>
      <td>{{ include.dativeSingularMasculine }}</td>
      <td>{{ include.dativeSingularNeuter }}</td>
      <td>{{ include.dativeSingularFeminine }}</td>
      <td>{{ include.dativePlural }}</td>
    </tr>

    <tr>
      <td class="caseLabel">Genitive</td>
      <td>{{ include.genitiveSingularMasculine }}</td>
      <td>{{ include.genitiveSingularNeuter }}</td>
      <td>{{ include.genitiveSingularFeminine }}</td>
      <td>{{ include.genitivePlural }}</td>
    </tr>
  </tbody>
</table>
