<table class="genderTable">
  <thead>
    <tr>
      <td>{{ include.groupingStringHeader }}</td>
      <td>Masculine %</td>
      <td>Neuter %</td>
      <td>Feminine %</td>
      <td>Main gender</td>
      <td>Total count</td>
    </tr>
  </thead>

  <tbody>
    {% for subEntry in include.groupingSubMap %}
    {% assign groupingString = subEntry[0] %}
    {% assign stats = subEntry[1] %}

    {% if stats.mainGender == "m" %}
    {% capture rowStyle %}background: rgba(30, 144, 255, {{ stats.masculinePercentage | divided_by: 100 }});{% endcapture %}
    {% elsif stats.mainGender == "n" %}
    {% capture rowStyle %}background: rgba(50, 205, 50, {{ stats.neuterPercentage | divided_by: 100 }});{% endcapture %}
    {% else %}
    {% capture rowStyle %}background: rgba(238, 130, 238, {{ stats.femininePercentage | divided_by: 100 }});{% endcapture %}
    {% endif %}
    
    <tr style="{{ rowStyle }}">
      <td>{{ groupingString }}</td>
      <td>{{ stats.masculinePercentage }} %</td>
      <td>{{ stats.neuterPercentage }} %</td>
      <td>{{ stats.femininePercentage }} %</td>
      <td>{{ stats.mainGender }}</td>
      <td>{{ stats.totalCount }}</td>
    </tr>

    {% endfor %}
  </tbody>
</table>
