.adjective-declensions  {
  .-e-ending {
    background: violet;
  }


  .-en-ending {
    background: yellow;
  }


  .-er-ending {
    background: lightskyblue;
  }


  .-es-ending {
    background: mediumspringgreen;
  }


  .-em-ending {
    background: lightsalmon;
  }
}
