.articles {
  .die,
  .eine,
  .keine,
  .meine,
  .deine,
  .seine,
  .ihre,
  .unsere,
  .eure,
  .Ihre {
    background: violet;
  }


  .den,
  .einen,
  .keinen,
  .meinen,
  .deinen,
  .seinen,
  .ihren,
  .unseren,
  .euren,
  .Ihren {
    background: yellow;
  }


  .der,
  .einer,
  .keiner,
  .meiner,
  .deiner,
  .seiner,
  .ihrer,
  .unserer,
  .eurer,
  .Ihrer {
    background: lightskyblue;
  }


  .das {
    background: mediumspringgreen;
  }


  .dem,
  .einem,
  .keinem,
  .meinem,
  .deinem,
  .seinem,
  .ihrem,
  .unserem,
  .eurem,
  .Ihrem {
    background: orange;
  }


  .des,
  .eines,
  .keines,
  .meines,
  .deines,
  .seines,
  .ihres,
  .unseres,
  .eures,
  .Ihres {
    background: lighten(crimson, 20%);
  }


  .ein,
  .kein,
  .mein,
  .dein,
  .sein,
  .ihr,
  .unser,
  .euer,
  .Ihr {
    background: gainsboro;
  }
}
