.genderTable {
  thead {
    font-weight: bold;
  }


  td {
    font-size: 1.3em;
    padding: 0.3em;
    text-align: center;
  }
}


.m {
  background: rgb(30, 144, 255);
}


.n {
  background: rgb(50, 205, 50);
}


.f {
  background: rgb(238, 130, 238);
}